/* Initialisation */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Set defaults */
* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    color: #333;
    background: #fcfcfc;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1{
    margin-bottom: 1rem;
}

h3, h4 {
    margin-top: 1rem;
}

p {
    margin: 0.5rem 0;
}

ul {
    padding: 0 1rem;
}

ul li {
    list-style-type: circle;
    list-style-position: outside; 
    margin-top: 0.5rem;
}

/* Navigation bar */
#nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav-bar ul{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    list-style: none;
    background: #555;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

#nav-bar ul li {
    list-style: none;
}

#nav-bar a{
    font-size: 1.2rem;
    color: #fcfcfc;
    padding: 1rem 1rem;
}

#nav-bar a:hover{
    color: #333;
    background: #fcfcfc;
}


/* Containers */
.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: auto;
}

.top-container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: auto;
    background-image: url("pbuilding_1_opacity.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.5);
}

.top-container h1{
    text-align: center;
}

.container {
    min-width: 650px;
    margin: 1rem 0.2rem;
    padding: 1rem 2rem;
    background: #ececec;
    border: 3px #333 solid;
    border-radius: 10px;
}

.container h2 {
    text-align: center;
    margin-top: 0.5rem;
}

.content-container {
    background: #f6f6f6;
    padding: 1.2rem 1.2rem;
    border: 2px #555 solid;
    border-radius: 20px;
    margin: 1.5rem 0;
}

.content-container h3 {
    margin-top: 0;
}
/* Others */


/* Home page */
#profile-pic {
    max-width: 200px;
    border: 4px #000 solid;
    border-radius: 10px;
    margin: 0.5rem 0;
}